@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "lenis/dist/lenis.css";

@source "../../../node_modules/streamdown/dist/*.js";

@custom-variant dark (&:is(.dark *));

@layer base {
  button,
  a {
    cursor: pointer;
  }
}

@theme inline {
  --font-lexend: "Lexend", "Segoe UI", sans-serif;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.9025 0.115 90.5);
  --primary-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.15 0 0);
  --secondary-foreground: oklch(0.9025 0.115 90.5);
  --muted: oklch(0.9 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.95 0.0469 90.45);
  --accent-foreground: oklch(0.15 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0 0);
  --input: oklch(0.925 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.9025 0.115 90.5);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.95 0.0469 90.45);
  --sidebar-accent-foreground: oklch(0.15 0 0);
  --sidebar-border: oklch(0.925 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border antialiased overscroll-none;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply text-foreground overflow-y-scroll bg-background font-lexend;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-streamdown="link"] {
  @apply text-indigo-600 font-semibold no-underline hover:underline;
}

[data-streamdown="table-wrapper"] {
  @apply rounded-lg relative overflow-hidden;
}

[data-streamdown="table-wrapper"] > div:first-child {
  @apply px-2 py-1 rounded-md absolute top-[3.5px] z-10 right-[3.5px] bg-background;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

[data-streamdown="table-wrapper"]:hover > div:first-child {
  @apply opacity-100 pointer-events-auto;
}

[data-streamdown="table-header"] {
  @apply bg-muted;
}

[data-streamdown="inline-code"] {
  @apply bg-muted rounded-sm py-px px-1;
}

[data-streamdown="mermaid-block"] {
  @apply p-0 overflow-hidden before:content-['Mermaid_Diagram'] before:absolute before:top-0.5 before:left-0 before:px-2.5 before:py-2 before:text-xs before:text-muted-foreground;
}

[data-streamdown="mermaid-block"] > div:nth-child(1) {
  @apply px-2 py-1.5 border-b;
}

[data-streamdown="mermaid-block"] > div:nth-child(2) {
  @apply my-0 p-2;
}

[data-streamdown="mermaid-block"] > div:nth-child(1) > div:nth-child(4) {
  @apply bg-background;
}

[data-streamdown="code-block-header"] {
  @apply px-2 py-1.75 bg-transparent;
}
